<a href="https://colab.research.google.com/github/akim1013/FYP-Delisting-Prediction/blob/main/stockpricedatacollection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pickle
with open('/Users/songchaehyun/Downloads/stock_db.pkl', 'rb') as f:
    data = pickle.load(f)

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 760.7 kB/s eta 0:00:00a 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://localmaster:qwer1234@127.0.0.1:3306/stock_db')
query = """
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker)
	and 종목구분 = '보통주';
"""
ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

ticker_list.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,000020,동화약품,KOSPI,8430.0,2.354620e+11,2023-05-02,736.0,NaN,13165.0,180.0,보통주
1,000040,KR모터스,KOSPI,645.0,6.200930e+10,2023-05-02,NaN,NaN,345.0,0.0,보통주
2,000050,경방,KOSPI,10520.0,2.884090e+11,2023-05-02,177.0,NaN,30304.0,125.0,보통주
3,000070,삼양홀딩스,KOSPI,73200.0,6.269050e+11,2023-05-02,9173.0,NaN,240995.0,3500.0,보통주
4,000080,하이트진로,KOSPI,22500.0,1.578010e+12,2023-05-02,1250.0,1486.0,16906.0,950.0,보통주

In [ ]:

from dateutil.relativedelta import relativedelta
import requests as rq
from io import BytesIO
from datetime import date

i = 0
ticker = ticker_list['종목코드'][i]
fr = (date.today() + relativedelta(years=-5)).strftime("%Y%m%d")
to = (date.today()).strftime("%Y%m%d")

url = f'''https://fchart.stock.naver.com/siseJson.nhn?symbol={ticker}&requestType=1
&startTime={fr}&endTime={to}&timeframe=day'''

data = rq.get(url).content
data_price = pd.read_csv(BytesIO(data))

data_price.head()

,[['날짜','시가','고가','저가','종가','거래량','외국인소진율'],Unnamed: 7
0,"[""20190905""",8070.0,8110.0,8020.0,8080.0,77480.0,4.77],NaN
1,"[""20190906""",8120.0,8120.0,7930.0,8000.0,189109.0,4.72],NaN
2,"[""20190909""",8000.0,8190.0,7980.0,8000.0,57940.0,4.72],NaN
3,"[""20190910""",8070.0,8080.0,7990.0,8000.0,13627.0,4.72],NaN
4,"[""20190911""",8060.0,8180.0,7880.0,7900.0,395212.0,4.81],NaN

In [ ]:

import re

price = data_price.iloc[:, 0:6]
price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
price = price.dropna()
price['날짜'] = price['날짜'].str.extract('(\d+)')
price['날짜'] = pd.to_datetime(price['날짜'])
price['종목코드'] = ticker

price.head()

          날짜      시가      고가      저가      종가       거래량    종목코드
0 2019-09-05  8070.0  8110.0  8020.0  8080.0   77480.0  000020
1 2019-09-06  8120.0  8120.0  7930.0  8000.0  189109.0  000020
2 2019-09-09  8000.0  8190.0  7980.0  8000.0   57940.0  000020
3 2019-09-10  8070.0  8080.0  7990.0  8000.0   13627.0  000020
4 2019-09-11  8060.0  8180.0  7880.0  7900.0  395212.0  000020

In [ ]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta
import requests as rq
import time
from tqdm import tqdm
from io import BytesIO

# DB 연결
engine = create_engine('mysql+pymysql://localmaster:qwer1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='localmaster',
                      passwd='qwer1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 티커리스트 불러오기
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker)
	and 종목구분 = '보통주';
""", con=engine)

# DB 저장 쿼리
query = """
    insert into kor_price1 (날짜, 시가, 고가, 저가, 종가, 거래량, 종목코드)
    values (%s,%s,%s,%s,%s,%s,%s) as new
    on duplicate key update
    시가 = new.시가, 고가 = new.고가, 저가 = new.저가,
    종가 = new.종가, 거래량 = new.거래량;
"""
# 오류 발생시 저장할 리스트 생성
error_list = []

# 전종목 주가 다운로드 및 저장
for i in tqdm(range(0, len(ticker_list))):

    # 티커 선택
    ticker = ticker_list['종목코드'][i]

    # 시작일과 종료일
    fr = (date.today() + relativedelta(years=-5)).strftime("%Y%m%d")
    to = (date.today()).strftime("%Y%m%d")

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:

        # url 생성
        url = f'''https://fchart.stock.naver.com/siseJson.nhn?symbol={ticker}&requestType=1
        &startTime={fr}&endTime={to}&timeframe=day'''

        # 데이터 다운로드
        data = rq.get(url).content
        data_price = pd.read_csv(BytesIO(data))

        # 데이터 클렌징
        price = data_price.iloc[:, 0:6]
        price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
        price = price.dropna()
        price['날짜'] = price['날짜'].str.extract('(\d+)')
        price['날짜'] = pd.to_datetime(price['날짜'])
        price['종목코드'] = ticker

        # 주가 데이터를 DB에 저장
        args = price.values.tolist()
        mycursor.executemany(query, args)
        con.commit()

    except:

        # 오류 발생시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)

    # 타임슬립 적용
    time.sleep(2)

# DB 연결 종료
engine.dispose()
con.close()

 73%|███████▎  | 1709/2338 [1:12:35<6:50:29, 39.16s/it]

178780

 73%|███████▎  | 1710/2338 [1:12:44<5:17:17, 30.32s/it]

178920

 73%|███████▎  | 1711/2338 [1:13:28<5:57:52, 34.25s/it]

179290

 73%|███████▎  | 1712/2338 [1:13:30<4:16:24, 24.58s/it]

179530

 73%|███████▎  | 1713/2338 [1:13:32<3:05:31, 17.81s/it]

179900

 73%|███████▎  | 1714/2338 [1:13:34<2:15:56, 13.07s/it]

180400

 73%|███████▎  | 1715/2338 [1:18:28<16:51:38, 97.43s/it]

180640

 73%|███████▎  | 1716/2338 [1:18:30<11:53:17, 68.81s/it]

181340

 73%|███████▎  | 1717/2338 [1:18:32<8:24:45, 48.77s/it]

181710

 73%|███████▎  | 1718/2338 [1:18:34<5:59:01, 34.74s/it]

182360

 75%|███████▍  | 1746/2338 [1:52:38<3:13:52, 19.65s/it]

192410

100%|██████████| 2338/2338 [7:26:21<00:00, 11.45s/it]

In [ ]:

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
query = """
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker)
	and 종목구분 = '보통주';
"""
ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

i = 0
ticker = ticker_list['종목코드'][i]

url = f'http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'
data = pd.read_html(url, displayed_only=False)

[item.head(3) for item in data]